/*CSS Stylesheet for MM-Breaking News
Plugin URI: http://www.mmilan.com/mm-breaking-news
Description: Displays lists of posts from selected categories whereever you like. You can select how many different lists you want, sort posts by date or random, select which categories to include or exclude from specific list.
Author: Milan Milosevic
Version: 0.5
Author URI: http://www.mmilan.com
*/


#mm_bnlist {
	margin-top: 2em;
	margin-right: 40px;
	border: 1px solid #aaa;
	background: #eee;
	padding: 0.5em 2em;
	font-size: 0.9em;
	
}

#mm_bnlist ul {
	margin: 0;
	padding: 0.3em 0;
	padding-left: 3em;
}

#mm_bnlist a {
	color: blue;
}

#mm_bnlist a:hover {
	color: green;
	text-decoration: none;
}

#mm_bnlist .date_com {
	color: #777;
}

#mm_bnlist .credits {
	text-align: right;
	font-size: 0.5em;
	margin: 0;
	padding: 0;
}